:root {
  --primary: #1e90ff;
  --secondary: #ebb298;
  --lighten: #f2e8e3;
  --text-shadow: #033b55;
}

/**
* {
  outline: 1px solid orange;
} **/

.bg-main {
  background-color: var(--lighten);
  min-width: 100vw;
  min-height: 100vh;

}
.bg-me {
  background-image: url("about-me-img.png");
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  object-fit: contain;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-shadow: inset 0px 0px 30px 30px var(--lighten);
}

#hello-one {
  color: var(--primary);
  text-shadow: 1px 1px 1px var(--secondary);
  position: absolute;
  right: -10%;
  margin-top: 1rem;
  animation: slideIn 1.5s;
  animation-iteration-count: unset;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#hello-two {
  color: var(--primary);
  text-shadow: 1px 1px 1px var(--secondary);
  position: absolute;
  right: -30%;
  margin-top: 6rem;
  animation: slideIn2 3s;
  animation-iteration-count: unset;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

.img-describe {
  color: var(--lighten);
  text-shadow: 2px 2px 2px var(--secondary);
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: .5rem;
}
.img-4-describe {
  color: black;
  text-shadow: 2px 2px 2px var(--lighten);
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: .5rem;
}

.card {
  color: var(--secondary);
  text-shadow: 1.5px 1.5px 1.5px rgb(28, 30, 33);
  background-color: var(--text-shadow);
  box-shadow: 2px 2px 2px var(--text-shadow);
  position: absolute;
  top: 50%;
  right: 2%;
  width: 33.3%;
  opacity: .8;
}
.card-header {
  font-size: 1.25rem;
  text-shadow: .5px .5px .5px var(--primary);
}

.my-carousel>div>img {
  width: 300px;
  height: 500px;
  box-shadow: 4px 4px 4px var(--text-shadow);
  border-radius: 1rem;
}

/********* Bottom Footer *********/
footer {
  color: #ebb298cb;
  text-shadow: 1px 1px 1px var(--text-shadow);
  position: sticky;
  height: 50px;
  background-color: var(--text-shadow);
  border: outset 10px var(--lighten);
  border-style: groove;
  margin-right: -.75rem;
}

/********* Footer Icons *********/
.fa-facebook {
  color:var(--secondary);
  box-shadow: inset 6px 12px 20px var(--text-shadow);
  border: outset 5px var(--text-shadow);
  opacity: .75;
}

.fa-facebook:hover {
  border: inset 5px var(--text-shadow);
}

.fa-twitter {
  color:var(--secondary);
  box-shadow: inset 6px 12px 20px var(--text-shadow);
  border: outset 5px var(--text-shadow);
  opacity: .75;
}

.fa-twitter:hover {
  border: inset 5px var(--text-shadow);
}

.fa-github {
  color:var(--secondary);
  box-shadow: inset 6px 12px 20px var(--text-shadow);
  border: outset 5px var(--text-shadow);
  opacity: .75;
}

.fa-github:hover {
  border: inset 5px var(--text-shadow);
}


@keyframes shimmer {

  0% {
    background-position: -400px 0
  }

  50% {
    background-position: -400px 0
  }

  100% {
    background-position: 1000px 0
  }
}

@keyframes slideIn {
  0% {
    margin-left: 90%;
  
  }

  100% {
    margin-right: 12%;
  
  }

}

@keyframes slideIn2 {
  0% {
    margin-left: 90%;
  
  }

  100% {
    margin-right: 32%;
  
  }

}